@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    background-color: #0b232a;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

nav {
    background: #02161A;
    box-sizing: border-box;
    padding: 0 10vw;
    width: 100vw;
    height: 6em;
    top: 0;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav:after {
    z-index: 1;
    position: absolute;
    left: 0;
    display: inline-block;
    top: 6em;
    content: ' ';
    width: 100vw;
    height: 3px;
    background-color: #0b697c;
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.menu > li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu li:hover {
    background: #0b697c;
}

.menu > li > a {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#dialog {
    display: none;
}

header, section.contact {
    box-sizing: border-box;
    position: relative;
    margin-top: 6em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 600px;
}

.references {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contact .landing-title {
    margin: 20px 0 40px 0;
}

.landing-title {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.landing-subtext {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    color: white;
}

.glass-button {
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
    font-size: 1.2em;
    padding: 15px 30px;
    border-radius: 5px;
    background-image: linear-gradient(30deg, #283c7e, #2e6b77, #388560, #5d8538);
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: gradient 5s ease infinite;
    background-size: 300% 300%;
    text-decoration: none;
    text-align: center;
    transition: filter 300ms;
}

.glass-button:hover, .glass-button:focus-within {
    filter: brightness(150%);
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

header .two-item-flex {
    width: 100vw;
    height: calc(100vh - 6em - 3rem);
    align-items: center;
    justify-content: center;
}

.two-item-flex {
    display: flex;
    gap: 40px;
}

.contact-history {
    display: inline-flex;
    gap: 20px;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.subtitle {
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    color: #78a8b0;
}

img {
    width: 400px;
}

.messages {
    display: none;
    width: 400px;
    max-height: 400px;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.message-list-expand {
    top: 0;
    bottom: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    box-sizing: border-box;
    width: 100%;
    height: 2.4em;
    padding-left: 15px;
    border: none;
    text-align: left;
    gap: 20px;
    text-transform: uppercase;
    background: #02161A;
    color: #78a8b0;
}

.message-list, .message-list-expand {
    display: none;
}

.messages.not-sent-active .message-not-sent:not(:empty), .messages.sent-active .message-sent:not(:empty) {
    display: block;
}

input[name="save-contact"] {
    display: none;
}

.message-not-sent:not(:empty) + button, .message-sent:not(:empty) + button {
    display: flex;
}

.messages.sent-active .message-sent, .messages.not-sent-active .message-not-sent {
    display: block;
}

.expand-icon, .expand-icon:after {
    display: block;
    content: '';
    width: 20px;
    height: 4px;
    background: #0b697c;
}

.expand-icon:after {
    transition: opacity 500ms;
    transform: rotate(90deg);
}

.messages.sent-active #toggle-sent .expand-icon:after, .messages.not-sent-active #toggle-not-sent .expand-icon:after {
    opacity: 0;
}

.message-list {
    max-height: 350px;
    overflow-y: scroll;
}

.message-list div {
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #78a8b0;
    background: #09323b;
    padding: 10px;
    margin-left: 50px;
}

.message-title {
    width: 100%;
    height: 1.1em;
    overflow-x: hidden;
    font-size: 1.1em;
    font-weight: bold;
}

.message-type-category {
    word-spacing: 20px;
    font-weight: lighter;
}

.message:not(:last-of-type) {
    border-bottom: 2px solid #0b697c;
}

form {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

form label, form p {
    font-size: 1.1em;
}

.form-element {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 0;
}

.no-flex {
    display: block;
    align-items: normal;
}

label[for="agreeTOS"] {
    font-size: 0.8em;
    font-weight: lighter;
    color: #84a0a8;
}

#contact-form input[type="text"], input[type="email"], textarea {
    box-sizing: border-box;
    width: 300px;
    padding: 0 8px;
    height: 30px;
}

textarea {
    height: 130px;
    resize: none;
    line-height: 25px;
}

.form-input {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    font-size: 0.9em;
    background: #0b232a;
    border: 2px solid #0b697c;
    color: #b2d0d5;
}

.form-button {
    border: none;
    box-sizing: border-box;
    width: 100px;
    padding: 0 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    height: 30px;
}

.form-element.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.button-green {
    color: white;
    background: #0b7c43;
}

.button-blue {
    color: white;
    background: #0b697c;
}

.button-red {
    color: white;
    background: #7c180b;
}

footer {
    top: calc(100vh - 3rem);
    position: fixed;
    font-family: 'Ubuntu', sans-serif;
    border-top: 3px solid #0b697c;
    background: #02161A;
    text-align: center;
    line-height: 3em;
    width: 100%;
    height: 3em;
}

footer p, footer p a {
    color: #0b697c;
}

.satisfaction-survey {
    display: flex;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.satisfaction-slider {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    width: 400px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.satisfaction-slider p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.satisfaction-slider #amount {
    max-width: 2ch;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    border: 0;
    background: transparent;
    font-weight: bolder;
}